In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_parquet('./Data/draft0522.parquet')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6067 entries, 0 to 6066
Data columns (total 88 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   player                       6067 non-null   object
 1   year                         6067 non-null   float64
 2   pos                          6067 non-null   object
 3   school_name                  6067 non-null   object
 4   height                       6038 non-null   float64
 5   weight                       6043 non-null   float64
 6   forty_yd                     5619 non-null   float64
 7   vertical                     4780 non-null   float64
 8   bench_reps                   4173 non-null   float64
 9   broad_jump                   4700 non-null   float64
 10  cone                         3819 non-null   float64
 11  shuttle                      3923 non-null   float64
 12  g_season                     4311 non-null   float64
 13  def_int_season               1285 non-null   float64
 14  def_int_yds_season           1019 non-null   float64
 15  def_int_yds_per_int_season   1015 non-null   float64
 16  def_int_career               1717 non-null   float64
 17  def_int_yds_career           1527 non-null   float64
 18  def_int_yds_per_int_career   1524 non-null   float64
 19  pass_cmp_season              301 non-null    float64
 20  pass_att_season              301 non-null    float64
 21  pass_cmp_pct_season          301 non-null    float64
 22  pass_yds_season              301 non-null    float64
 23  pass_yds_per_att_season      301 non-null    float64
 24  adj_pass_yds_per_att_season  301 non-null    float64
 25  pass_td_season               298 non-null    float64
 26  pass_int_season              297 non-null    float64
 27  pass_rating_season           301 non-null    float64
 28  pass_cmp_career              305 non-null    float64
 29  pass_att_career              305 non-null    float64
 30  pass_cmp_pct_career          305 non-null    float64
 31  pass_yds_career              305 non-null    float64
 32  pass_yds_per_att_career      305 non-null    float64
 33  adj_pass_yds_per_att_career  305 non-null    float64
 34  pass_td_career               305 non-null    float64
 35  pass_int_career              304 non-null    float64
 36  pass_rating_career           305 non-null    float64
 37  rush_att_season              1062 non-null   float64
 38  rush_yds_season              1054 non-null   float64
 39  rush_yds_per_att_season      1047 non-null   float64
 40  rush_td_season               659 non-null    float64
 41  rec_season                   1576 non-null   float64
 42  rec_yds_season               1576 non-null   float64
 43  rec_yds_per_rec_season       1576 non-null   float64
 44  scrim_att_season             1589 non-null   float64
 45  scrim_yds_season             1588 non-null   float64
 46  scrim_yds_per_att_season     1588 non-null   float64
 47  scrim_td_season              1528 non-null   float64
 48  rush_att_career              1230 non-null   float64
 49  rush_yds_career              1226 non-null   float64
 50  rush_yds_per_att_career      1219 non-null   float64
 51  rush_td_career               810 non-null    float64
 52  rec_career                   1600 non-null   float64
 53  rec_yds_career               1600 non-null   float64
 54  rec_yds_per_rec_career       1600 non-null   float64
 55  rec_td_career                1501 non-null   float64
 56  scrim_att_career             1604 non-null   float64
 57  scrim_yds_career             1603 non-null   float64
 58  scrim_yds_per_att_career     1603 non-null   float64
 59  scrim_td_career              1593 non-null   float64
 60  fumbles_rec_yds_career       308 non-null    float64
 61  fumbles_rec_td_career        372 non-null    float64
 62  rec_td_season                1297 non-null   float64
 63  def_int_td_season            310 non-null    float64
 64  def_int_td_career            654 non-null    float64
 65  fumbles_rec_career           1127 non-null   float64
 66  fumbles_rec_yds_season       125 non-null    float64
 67  fumbles_rec_td_season        152 non-null    float64
 68  fumbles_rec_season           611 non-null    float64
 69  tackles_solo_season          2382 non-null   float64
 70  tackles_assists_season       2372 non-null   float64
 71  tackles_total_season         2390 non-null   float64
 72  tackles_loss_season          2255 non-null   float64
 73  sacks_season                 1644 non-null   float64
 74  pass_defended_season         1466 non-null   float64
 75  tackles_solo_career          2405 non-null   float64
 76  tackles_assists_career       2408 non-null   float64
 77  tackles_total_career         2409 non-null   float64
 78  tackles_loss_career          2367 non-null   float64
 79  sacks_career                 1965 non-null   float64
 80  pass_defended_career         1911 non-null   float64
 81  fumbles_forced_season        928 non-null    float64
 82  fumbles_forced_career        1553 non-null   float64
 83  team                         6067 non-null   object
 84  pick                         3895 non-null   float64
 85  college_conference           2581 non-null   object
 86  Age                          3765 non-null   float64
 87  Round                        6067 non-null   float64
dtypes: float64(83), object(5)
memory usage: 4.1+ MB

In [10]:
df.Round[df.Round <= 3] = 1

C:\Users\capta\AppData\Local\Temp\ipykernel_3344\4223153948.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Round[df.Round <= 3] = 1

In [12]:
df.Round[df.Round != 1] = 0

C:\Users\capta\AppData\Local\Temp\ipykernel_3344\3089005703.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Round[df.Round != 1] = 0

In [15]:
df.Round.value_counts(normalize=True)

0.0    0.707763
1.0    0.292237
Name: Round, dtype: float64

In [29]:
df[df.pos == 'WR'].groupby(['Round']).mean()

C:\Users\capta\AppData\Local\Temp\ipykernel_3344\1713061100.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df[df.pos == 'WR'].groupby(['Round']).mean()

,year,height,weight,forty_yd,vertical,bench_reps,broad_jump,cone,shuttle,g_season,...,tackles_solo_career,tackles_assists_career,tackles_total_career,tackles_loss_career,sacks_career,pass_defended_career,fumbles_forced_season,fumbles_forced_career,pick,Age
Round,,,,,,,,,,,,,,,,,,,,,
0.0,2013.838550,72.764511,201.888889,4.526424,34.833019,14.111111,120.357977,6.984306,4.262738,11.497186,...,81.666667,82.666667,164.333333,29.0,5.0,4.0,1.0,3.0,172.343284,22.440945
1.0,2013.516807,72.725738,202.843882,4.447568,36.266129,15.944444,123.280220,6.921061,4.217071,12.078341,...,95.000000,105.000000,200.000000,18.5,7.0,1.0,NaN,NaN,51.932773,21.965217